{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="row mb-3">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Device SNMPv3 Interface</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ object.name }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Interface ID</th>
                        <td>{{ object.interfaceid }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Device</th>
                        <td><a href="{{ object.host.device.get_absolute_url }}">{{ object.host.device.name }}</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Device Interface</th>
                        <td><a href="{{ object.interface.get_absolute_url }}">{{ object.interface.name }}</a></td>
                    </tr>
                    <tr>
                        <th scope="row">IP Address</th>
                        <td><a href="{{ object.resolved_ip_address.get_absolute_url }}">{{ object.resolved_ip_address }}</a></td>
                    </tr>
                    <tr>
                        <th scope="row">DNS Name</th>
                        <td>{{ object.resolved_dns_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Use IP</th>
                        <td>{{ object.get_useip_display }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Main</th>
                        <td>{{ object.get_main_display }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Port</th>
                        <td>{{ object.port }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Available</th>
                        <td>{{ object.get_available_display }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">SNMP Settings</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Version</th>
                        <td>{{ object.version }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Max Repetitions</th>
                        <td>{{ object.max_repetitions }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Context Name</th>
                        <td>{{ object.contextname }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Security Name</th>
                        <td>{{ object.securityname }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Security Level</th>
                        <td>{{ object.get_securitylevel_display }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Authentication Protocol</th>
                        <td>{{ object.get_authprotocol_display }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Authentication Passphrase</th>
                        <td>{{ object.authpassphrase }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Privacy Protocol</th>
                        <td>{{ object.get_privprotocol_display }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Privacy Passphrase</th>
                        <td>{{ object.privpassphrase }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Bulk</th>
                        <td>{{ object.get_bulk_display }}</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}