{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}
{% load helpers %}
{% load i18n %}
{% load tab_utils %}

{% block extra_controls %}
<div class="dropdown">
    <button id="add-components" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add Interface
    </button>
    <ul class="dropdown-menu" aria-labeled-by="add-components">
        <li><a class="dropdown-item"
                href="{% url 'plugins:netbox_zabbix:deviceagentinterface_add' %}?device_zabbix_config_id={{object.id}}&return_url={% url 'plugins:netbox_zabbix:devicezabbixconfig' object.id %}">
                Agent Interface
            </a>
        </li>
        <li><a class="dropdown-item"
                href="{% url 'plugins:netbox_zabbix:devicesnmpv3interface_add' %}?device_zabbix_config_id={{object.id}}&return_url={% url 'plugins:netbox_zabbix:devicezabbixconfig' object.id %}">
                SNMPv3 Interface
            </a>
        </li>

    </ul>
</div>

<div>
<a href="{% url 'plugins:netbox_zabbix:sync_with_zabbix' %}?model=device&zabbix_config_id={{object.id}}&return_url={% url 'plugins:netbox_zabbix:devicezabbixconfig' object.id %}" class="btn btn-primary">
    <i class="mdi mdi-sync"></i> Sync With Zabbix
</a>
</div>
{% endblock %}



{% block tabs %}
<ul class="nav nav-tabs" role="presentation">
    {# Primary overview tab #}
    <li class="nav-item">
        <a class="nav-link{% if not tab %} active{% endif %}" href="{{ object.get_absolute_url }}">
            {{ object|meta:"verbose_name"|bettertitle }}
        </a>
    </li>
    {# Include tabs for registered model views except for jobs #}
    {% model_view_tabs_exlude_jobs object %}
</ul>
{% endblock tabs %}


{% block content %}
<div class="row">
    <div class="col col-md-12">
        <div class="card">
            <h5 class="card-header">Device Zabbix Config</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ object.name }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Device</th>
                        <td>
                            <a href="{{ object.device.get_absolute_url }}">{{ object.device.name }}</a>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">In Sync with Zabbix</th>
                        <td> {{ object.get_sync_icon|safe }} </td>
                    </tr>


                    <tr>
                        <th scope="row">Zabbix Host ID</th>
                        <td>{{ object.hostid }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Status</th>
                        <td>{{ object.get_status_display }}</td>
                    </tr>


                    <tr>
                        <th scope="row">Monitored By</th>
                        <td>{{ object.get_monitored_by_display }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Proxy</th>
                        <td>{{ object.proxy }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Proxy Group</th>
                        <td>{{ object.proxy_group }}</td>
                    </tr>

                    <tr>
                        <th>Host Groups</th>
                        <td>
                            {% for host_group in object.host_groups.all %}
                            <a href="{{ host_group.get_absolute_url }}" class="badge text-bg-primary">{{ host_group.name }}</a>
                            {% endfor %}
                        </td>
                    </tr>


                    <tr>
                        <th>Templates</th>
                        <td>
                            {% for template in object.templates.all %}
                            <a href="{{ template.get_absolute_url }}" class="badge text-bg-primary">{{ template.name }}</a>
                            {% endfor %}
                        </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>
</div>

{% if object.description %}
<div class="row">
    <div class="col col-md-12">
        <div class="card">
            <h2 class="card-header">{% trans "Description" %}</h2>
            <div class="card-body">
                {{ object.description|markdown }}
                <span class="text-muted">{% trans "None" %}</span>
            </div>
        </div>
    </div>
</div>
{% endif %}


<div class="row">
    <div class="col col-md-12">
        <div class="card">
            <h2 class="card-header">
                Agent Interfaces
                <div class="card-actions">
                    <a href="{% url 'plugins:netbox_zabbix:deviceagentinterface_add' %}?zcfg={{ object.pk }}"
                        class="btn btn-ghost-primary btn-sm">
                        <span class="mdi mdi-plus-thick"></span> Add Agent Interface
                    </a>
                </div>
            </h2>
            {% htmx_table 'plugins:netbox_zabbix:deviceagentinterface_list' zcfg_id=object.pk %}
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col col-md-12">
        <div class="card">
            <h2 class="card-header">
                SNMPv3 Interfaces
                <div class="card-actions">
                    <a href="{% url 'plugins:netbox_zabbix:devicesnmpv3interface_add' %}?zcfg={{ object.pk }}"
                        class="btn btn-ghost-primary btn-sm">
                        <span class="mdi mdi-plus-thick"></span> Add SNMPv3 Interface
                    </a>
                </div>
            </h2>
            {% htmx_table 'plugins:netbox_zabbix:devicesnmpv3interface_list' zcfg_id=object.pk %}
        </div>
    </div>
</div>


{% endblock %}