{% extends 'generic/object.html' %}
{% load helpers %}
{% load static %}
{% load i18n %}

{% block extra_controls %}
{% if prev_event %}
<a class="btn btn-outline-primary" href="{{ prev_event.get_absolute_url }}">&laquo; Previous</a>
{% else %}
<span class="btn btn-outline-secondary disabled">&laquo; Previous</span>
{% endif %}

{% if next_event %}
<a class="btn btn-outline-primary" href="{{ next_event.get_absolute_url }}">Next &raquo;</a>
{% else %}
<span class="btn btn-outline-secondary disabled">Next &raquo;</span>
{% endif %}
{% endblock %}


{% block content %}


<div class="row">
    <div class="col col-12 col-md-12">
        <div class="card">
            <h5 class="card-header">Event Details</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{ object.name }}</td>
                        </tr>

                        <tr>
                            <th>Created</th>
                            <td>{{ object.created|date:"Y-m-d H:i:s" }}</td>
                        </tr>

                        <tr>
                            <th>Job</th>
                            <td>
                                {% if object.job %}
                                <a href="{{ object.job.get_absolute_url }}">{{ object.job.job_id }}</a>
                                {% else %}
                                <em>None</em>
                                {% endif %}
                            </td>
                        </tr>

                        {% if object.job %}
                        <tr>
                            <th>Status</th>
                            <td>{% badge object.job.get_status_display object.job.get_status_color %}</td>
                        </tr>
                        {% endif %}

                        <tr>
                            <th>Message</th>
                            <td>{{ object.message|linebreaksbr }}</td>
                        </tr>

                        {% if object.exception != "" %}
                        <tr>
                            <th>Exception</th>
                            <td>{{ object.exception|linebreaksbr }}</td>
                        </tr>
                        {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% if object.data %}
<div class="row">
    <div class="col col-12 col-md-12">
        <div class="card">
            {% include 'extras/inc/configcontext_data.html' with title="Data" data=object.data format=format copyid="data" %}
        </div>
    </div>
</div>
{% endif %}


{% endblock %}