{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}
{% load helpers %}
{% load i18n %}
{% load tab_utils %}



{% block extra_controls %}
<div>
    <a href="{% url 'plugins:netbox_zabbix:sync_with_zabbix' %}?host_config_id={{object.id}}&return_url={% url 'plugins:netbox_zabbix:hostconfig' object.id %}"
        class="btn btn-primary">
        <i class="mdi mdi-sync"></i> Sync With Zabbix
    </a>
</div>
{% endblock %}



{% block tabs %}
<ul class="nav nav-tabs" role="presentation">
    {# Primary overview tab #}
    <li class="nav-item">
        <a class="nav-link{% if not tab %} active{% endif %}" href="{{ object.get_absolute_url }}">
            {{ object|meta:"verbose_name"|bettertitle }}
        </a>
    </li>
    {# Include tabs for registered model views except for jobs #}
    {% model_view_tabs_exlude_jobs object %}
</ul>
{% endblock tabs %}


{% block content %}
<div class="row">
    <div class="col col-md-8">
        <div class="card">
            <h5 class="card-header">Zabbix Config</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ object.name }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Linked Object</th>
                        <td>
                            <a href="{{ object.assigned_object.get_absolute_url }}">{{ object.assigned_object.name }}</a>
                        </td>
                    </tr>
                    
                    <tr>
                        <th scope="row">Host in Zabbix</th>
                        <td>
                            <a href="{{ web_address }}/zabbix.php?action=host.edit&hostid={{ object.hostid }}">{{ object.assigned_object.name }}</a>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">In Sync with Zabbix</th>
                        <td> {{ object.get_sync_icon|safe }} </td>
                    </tr>
                    
                    
                    <tr>
                        <th scope="row">Zabbix Host ID</th>
                        <td>{{ object.hostid }}</td>
                    </tr>
                    
                    <tr>
                        <th scope="row">Status</th>
                        <td>{{ object.get_status_display }}</td>
                    </tr>
                    
                    
                    <tr>
                        <th scope="row">Monitored By</th>
                        <td>{{ object.get_monitored_by_display }}</td>
                    </tr>
                    
                    <tr>
                        <th scope="row">Proxy</th>
                        <td>{{ object.proxy }}</td>
                    </tr>
                    
                    <tr>
                        <th scope="row">Proxy Group</th>
                        <td>{{ object.proxy_group }}</td>
                    </tr>
                    
                    <tr>
                        <th>Host Groups</th>
                        <td>
                            {% for host_group in object.host_groups.all %}
                            <a href="{{ host_group.get_absolute_url }}" class="badge text-bg-primary">{{ host_group.name }}</a>
                            {% endfor %}
                        </td>
                    </tr>
                    
                    <tr>
                        <th>Templates</th>
                        <td>
                            {% for template in object.templates.all %}
                            <a href="{{ template.get_absolute_url }}" class="badge text-bg-primary">{{ template.name }}</a>
                            {% endfor %}
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>


    <div class="col col-md-4">
        <div class="card">
            <h5 class="card-header">Maintenance</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th>Active Maintenance</th>
                        {% if object.active_maintenances %}
                        <td>
                            {% for active in object.active_maintenances %}
                            <a href="{{ active.get_absolute_url }}" class="badge text-bg-primary">{{ active.name }}</a>
                            {% endfor %}
                        </td>
                        {% else %}
                        <td> — </td>
                        {% endif %}
        
                    </tr>
        
                    <tr>
                        <th>In Maintenance</th>
                        <td>
                            {% if object.in_maintenance %}
                            <span class="badge text-bg-primary">Yes</span>
                            {% else %}
                            <span class="badge text-bg-secondary">No</span>
                            {% endif %}
                        </td>
                    </tr>
                </table>
        
            </div>
        </div>


        <div class="card">
            <h5 class="card-header">Tags</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                {% for tag in object.zabbix_tags %}
                    <tr>
                        <td>{{ tag.tag }}</td>
                        <td>{{ tag.value }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>

    </div>


</div>


{% if object.description %}
<div class="row">
    <div class="col col-md-12">
        <div class="card">
            <h2 class="card-header">{% trans "Description" %}</h2>
            <div class="card-body">
                {{ object.description|markdown }}
            </div>
        </div>
    </div>
</div>
{% endif %}


<div class="row">
    <div class="col col-md-12">
        <div class="card">
            <h2 class="card-header">
                Agent Interfaces
                <div class="card-actions">
                    <a href="{% url 'plugins:netbox_zabbix:agentinterface_add' %}?host_config={{ object.pk }}"
                        class="btn btn-ghost-primary btn-sm">
                        <span class="mdi mdi-plus-thick"></span> Add Agent Interface
                    </a>
                </div>
            </h2>
            {% htmx_table 'plugins:netbox_zabbix:agentinterface_list' host_config_id=object.pk %}
        </div>
    </div>
</div>


<div class="row">
    <div class="col col-md-12">
        <div class="card">
            <h2 class="card-header">
                SNMP Interfaces
                <div class="card-actions">
                    <a href="{% url 'plugins:netbox_zabbix:snmpinterface_add' %}?host_config={{ object.pk }}"
                        class="btn btn-ghost-primary btn-sm">
                        <span class="mdi mdi-plus-thick"></span> Add SNMP Interface
                    </a>
                </div>
            </h2>
            {% htmx_table 'plugins:netbox_zabbix:snmpinterface_list' host_config_id=object.pk %}
        </div>
    </div>
</div>



{% endblock %}