{% extends 'generic/object_edit.html' %}

{% load helpers %}

{% block title %}Add Hostgroup Mapping{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ object|default:"Add Hostgroup Mapping" }}</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'plugins:netbox_zabbix:hostgroupmapping_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}