{% extends "generic/object.html" %}
{% load render_table from django_tables2 %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col col-md-12">
        <div class="card">
            <h5 class="card-header">Host Group Mapping</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ object.name }}</td>
                    </tr>

                    {% if object.sites.exists %}
                    <tr>
                        <th scope="row">Sites</th>
                        <td>{{ object.sites.all|join:", " }}</td>
                    </tr>
                    {% endif %}

                    {% if object.roles.exists %}
                    <tr>
                        <th scope="row">Roles</th>
                        <td>{{ object.roles.all|join:", " }}</td>
                    </tr>
                    {% endif %}

                    {% if object.platforms.exists %}
                    <tr>
                        <th scope="row">Platoforms</th>
                        <td>{{ object.platforms.all|join:", " }}</td>
                    </tr>
                    {% endif %}

                    {% if object.tags.exists %}
                    <tr>
                        <th scope="row">Platoforms</th>
                        <td>{{ object.tags.all|join:", " }}</td>
                    </tr>
                    {% endif %}

                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}