{% extends 'generic/object_edit.html' %}

{% block content %}
{{ block.super }}
{% endblock %}


{% block javascript %}
<script type="text/javascript">


    document.addEventListener('DOMContentLoaded', function () {

        const isEdit = document.querySelector('[name="is_edit_field"]').value === "True";
        if (isEdit) {
            return;  // Skip JS when editing an interface
        }

        const hostSelect = document.querySelector('[name=host]');
        const interfaceSelect = document.querySelector('[name=interface_type]');
        if (!hostSelect || !interfaceSelect) return;


        const updateField = (fieldName, values) => {
            const field = document.querySelector(`[name=${fieldName}]`);
            if (!field) return;

            const waitForTomSelect = setInterval(() => {
                if (field.tomselect) {
                    clearInterval(waitForTomSelect);
                    const ids = values.map(v => v.id.toString());
                    field.tomselect.setValue(ids);
                }
            }, 250);
        };


        function updateHostDefaults() {
            const hostId = hostSelect.value;
            const interfaceTypeId = interfaceSelect.value;

            if (!hostSelect || !interfaceSelect) return;

            const contentType = document.querySelector('[name=content_type]');
            const contentTypeId = contentType.value;

            fetch(`/api/plugins/netbox_zabbix/host-mapping/?content_type_id=${contentTypeId}&object_id=${hostId}&interface_type_id=${interfaceTypeId}`)
                .then(res => res.json())
                .then(mapping => {
                    updateField("host_groups", mapping.host_groups || []);
                    updateField("templates",   mapping.templates || []);
                    updateField("proxy",       mapping.proxy ? [mapping.proxy] : []);
                    updateField("proxy_group", mapping.proxy ? [mapping.proxy_group] : []);
                });
        }

        // Call whenever host or interface type changes
        hostSelect.addEventListener('change', updateHostDefaults);
        interfaceSelect.addEventListener('change', updateHostDefaults);

        // Initial load
        if (hostSelect.value) {
            updateHostDefaults();
        }

    });

</script>

{% endblock %}