{% extends 'generic/object_list.html' %}
{% load helpers buttons %}

{% block title %}Importable {{ model|meta:"verbose_name_plural"|bettertitle }}{% endblock %}

{% block bulk_buttons %}
{{ block.super }}
<button type="submit" name="_import_vm_from_zabbix" class="btn btn-success">
    <i class="mdi mdi-database-import-outline"></i> Import from Zabbix
</button>
{% if validate_button %}
<button type="submit" name="_validate_vm" class="btn btn-success">
    <i class="mdi mdi-database-import-outline"></i> Validate
</button>
{% endif %}
{% endblock %}


{% block content %}
{{ block.super }}
{% endblock %}