{% extends 'generic/object.html' %}


{% block title %}Inventory Mapping {{ object.get_object_type_display }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col col-12 col-xl-12">
        <div class="card">
            <h2 class="card-header">{{ object.get_object_type_display }}</h2>
            <table class="table table-hover attr-table">
                {% for field in object.selection %}
                <tr>
                    <th scope="row">{{ field.name }}</th>
                    {% if field.enabled %}
                    <td>✔</td>
                    {% else %}
                    <td>✘</td>
                    {% endif %}

                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}