{% extends 'generic/object_list.html' %}
{% load render_table from django_tables2 %}
{% load helpers buttons %}

{% block title %}
NetBox Only Hosts
{% endblock %}

{% block controls %}{% endblock %}

{% block bulk_buttons %}
<button type="submit" name="_quick_add_agent" class="btn btn-success">
    <i class="mdi mdi-database-import-outline"></i> Quick Add Agent
</button>
<button type="submit" name="_quick_add_snmp" class="btn btn-success">
    <i class="mdi mdi-database-import-outline"></i> Quick Add SNMP
</button>

{% if validate_button %}
<button type="submit" name="_validate_quick_add" class="btn btn-success">
    <i class="mdi mdi-database-import-outline"></i> Validate
</button>
{% endif %}
{% endblock %}


{% block content %}
{{ block.super }}
{% endblock %}