{% extends 'generic/object.html' %}

{% block content %}

<div class="row">
    <div class="col col-md-12">
        <div class="card">
            <h5 class="card-header">Proxy Group</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">

                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Proxy Group ID</th>
                        <td>{{ object.proxy_groupid }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Last Synced</th>
                        <td>{{ object.last_synced|date:"Y-m-d H:i:s" }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}