{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="row">

  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">General</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">

          <tr>
            <th scope="row">Name</th>
            <td>{{ object.name }}</td>
          </tr>

          <tr>
            <th scope="row">IP Assignment Method</th>
            <td>{{ object.get_ip_assignment_method_display }}</td>
          </tr>

          <tr>
            <th scope="row">Auto Validate Importables</th>
            <td>{{ object.auto_validate_importables }}</td>
          </tr>

          <tr>
            <th scope="row">Max Deletions On Import</th>
            <td>{{ object.max_deletions }}</td>
          </tr>

          <tr>
            <th scope="row">Max Success Notifications</th>
            <td>{{ object.max_success_notifications }}</td>
          </tr>

          <tr>
            <th scope="row">IP Assignment Method</th>
            <td>{{ object.ip_assignment_method }}</td>
          </tr>

          <tr>
            <th scope="row">Event Log Enabled</th>
            <td>{{ object.event_log_enabled }}</td>
          </tr>

          <tr>
            <th scope="row">Zabbix Sync Interval</th>
            <td>{{ object.get_zabbix_sync_interval_display }}</td>
          </tr>

        </table>
      </div>
    </div>

    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">Zabbix Tags</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Default Tag</th>
              <td>{{ object.default_tag }}</td>
            </tr>
            <tr>
              <th scope="row">Tag Prefix</th>
              <td>{{ object.tag_prefix }}</td>
            </tr>
            <tr>
              <th scope="row">Tag Name Formatting</th>
              <td>{{ object.tag_name_formatting }}</td>
            </tr>

          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">Zabbix</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">

          <tr>
            <th scope="row">Version</th>
            <td>{{ object.version }}</td>
          </tr>

          <tr>
            <th scope="row">API Endpoint</th>
            <td>{{ object.api_endpoint }}</td>
          </tr>

          <tr>
            <th scope="row">Web Address</th>
            <td><a href="{{ object.web_address }}">{{ object.web_address }}</a></td>
          </tr>

          <tr>
            <th scope="row">Default CIDR</th>
            <td>{{ object.default_cidr }}</td>
          </tr>

          <tr>
            <th scope="row">Connection</th>
            <td>{{ object.connection }}</td>
          </tr>

          <tr>
            <th scope="row">Last Connection Check</th>
            <td>{{ object.last_checked_at }}</td>
          </tr>

          <tr>
            <th scope="row">Inventory Mode</th>
            <td>{{ object.get_inventory_mode_display }}</td>
          </tr>

          <tr>
            <th scope="row">Monitored By</th>
            <td>{{ object.get_monitored_by_display }}</td>
          </tr>

          <tr>
            <th scope="row">TLS Connect</th>
            <td>{{ object.get_tls_connect_display }}</td>
          </tr>

          <tr>
            <th scope="row">TLS Accept</th>
            <td>{{ object.get_tls_accept_display }}</td>
          </tr>

          <tr>
            <th scope="row">PSK Identity</th>
            <td>{{ object.tls_psk_identity }}</td>
          </tr>

          <tr>
            <th scope="row">TLS PSK</th>
            <td>{{ object.tls_psk }}</td>
          </tr>


        </table>
      </div>
    </div>
  </div>

</div>

{% endblock %}