{% extends "generic/object.html" %}
{% load render_table from django_tables2 %}
{% load helpers %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Template Mapping</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ object.name }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Templates</th>
                        <td>
                        {% for template in object.templates.all %}
                        <a href="{{ template.get_absolute_url }}">{{ template.name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">Interface Type</th>
                        <td>{{ object.get_interface_type_display }}</td>
                    </tr>

                    {% if object.sites.exists %}
                    <tr>
                        <th scope="row">Sites</th>
                        <td>
                            {% for site in object.sites.all %}
                            <a href="{{ site.get_absolute_url }}">{{ site.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>

                    </tr>
                    {% endif %}

                    {% if object.roles.exists %}
                    <tr>
                        <th scope="row">Roles</th>
                        <td>
                            {% for role in object.roles.all %}
                            <a href="{{ role.get_absolute_url }}">{{ role.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>

                    </tr>
                    {% endif %}

                    {% if object.platforms.exists %}
                    <tr>
                        <th scope="row">Platforms</th>
                        <td>
                            {% for platform in object.platforms.all %}
                            <a href="{{ platform.get_absolute_url }}">{{ platform.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>

                    </tr>
                    {% endif %}

                    {% if object.tags.exists %}
                    <tr>
                        <th scope="row">Tags</th>
                        <td>
                            {% for tag in object.tags.all %}
                            <a href="{{ tag.get_absolute_url }}" class="badge" style="color: #000000; background-color: #9e9e9e">{{ tag.name }}</a>
                            {% endfor %}
                        </td>

                    </tr>
                    {% endif %}

                </table>
            </div>
        </div>
    </div>

    <div class="col col-md-6">
        <div class="card">
            <h2 class="card-header">Related Objects</h2>
            <ul class="list-group list-group-flush" role="presentation">
                {% for item in related_models %}
                <a href="{{ item.url }}" class="list-group-item list-group-item-action d-flex justify-content-between">
                    {{ item.label|capfirst }}
                    {% if item.count %}
                    <span class="badge text-bg-primary rounded-pill">{{ item.count }}</span>
                    {% else %}
                    <span class="badge text-bg-light rounded-pill">&mdash;</span>
                    {% endif %}
                </a>
                {% empty %}
                <span class="list-group-item text-muted">None</span>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>


{% endblock %}