{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}

<div class="row">
    <div class="col col-md-12">
        <div class="card">
            <h5 class="card-header">Template</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">

                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Template ID</th>
                        <td>{{ object.templateid }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Interface Type</th>
                        <td>{{ object.get_interface_type_display }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Last Synced</th>
                        <td>{{ object.last_synced }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Parents</th>
                        {% if object.parents.all %}
                        <td>
                        {% for parent in object.parents.all %}
                            <a href="{{ parent.get_absolute_url }}" class="badge text-bg-primary">{{ parent.name }}</a>
                        {% endfor %}
                        </td>
                        {% else %}
                        <td>—</td>
                        {% endif %}
                    </tr>

                    <tr>
                        <th scope="row">Dependencies</th>
                        {% if object.dependencies.all %}
                        <td>
                            {% for dependency in object.dependencies.all %}
                            <a href="{{ dependency.get_absolute_url }}" class="badge text-bg-primary">{{ dependency.name }}</a>
                            {% endfor %}
                        </td>
                        {% else %}
                        <td>—</td>
                        {% endif %}
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}