{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% load custom_filters %}

{% block content %}
<div class="row">
    <div class="col col-md-12">
        <div class="card">
            <h5 class="card-header">VM Host</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ object.get_name }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Virtual Machine</th>
                        <td>{{ object.virtual_machine.name }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Status</th>
                        <td>{{ object.status }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Zabbix Host ID</th>
                        <td>{{ object.zabbix_host_id }}</td>
                    </tr>

                    <tr>
                        <th>Templates</th>
                        <td>
                            {% for tmpl in object.templates.all %}
                            <span class="badge text-bg-secondary">{{ tmpl.name }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}