{% extends 'generic/_base.html' %}
{% load render_table from django_tables2 %}
{% load helpers %}
{% load i18n %}

{% block title %}Zabbix Only Hosts{% endblock %}

{% block tabs %}
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="object-list-tab" data-bs-toggle="tab" data-bs-target="#object-list" type="button"
            role="tab" aria-controls="edit-form" aria-selected="true">
            {% trans "Results" %}
            <span class="badge text-bg-secondary total-object-count">
                {% if table.page.paginator.count %}
                {{ table.page.paginator.count }}
                {% else %}
                {{ total_count|default:"0" }}
                {% endif %}
            </span>
        </a>
    </li>
</ul>
{% endblock tabs %}

{% block content %}
<div class="row mb-3">
    <div class="col col-md-12">
        <div class="card">
            <div class="table-responsive">
                {% render_table table 'inc/table.html' %}
                {% include 'inc/paginator.html' with paginator=table.paginator page=table.page %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

