{% extends 'generic/object.html' %}
{% block content %}
<div class="row mb-3">
    <div class="col col-md-12">
        <div class="card">
            <h5 class="card-header">Zabbix Interface Details</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th>Host</th>
                        <td>{{ object.host }}</td>
                    </tr>
                    <tr>
                        <th>IP</th>
                        <td>{{ object.ip }}</td>
                    </tr>
                    <tr>
                        <th>Zabbix Interface ID</th>
                        <td>{{ object.interfaceid }}</td>
                    </tr>
                    <tr>
                        <th>Available</th>
                        <td>{{ object.available }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{{ block.super }}

{% endblock %}