{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block breadcrumbs %}
{{ block.super }}
<li class="breadcrumb-item">

</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col col-md-12">
        {% plugin_full_width_page object %}
    </div>
</div>

<div class="row">
    <div class="col col-md-12">
        {% if problems %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Event ID</th>
                    <th>Severity</th>
                    <th>Acknowledged</th>
                    <th>Name</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for problem in problems %}
                <tr>
                    <td>{{ problem.eventid }}</td>
                    <td>
                        {% if problem.severity == '0' %}
                        <span class="badge bg-secondary">Not classified</span>
                        {% elif problem.severity == '1' %}
                        <span class="badge bg-info">Information</span>
                        {% elif problem.severity == '2' %}
                        <span class="badge bg-warning">Warning</span>
                        {% elif problem.severity == '3' %}
                        <span class="badge bg-primary">Average</span>
                        {% elif problem.severity == '4' %}
                        <span class="badge bg-danger">High</span>
                        {% elif problem.severity == '5' %}
                        <span class="badge bg-dark">Disaster</span>
                        {% else %}
                        <span class="badge bg-secondary">Unknown</span>
                        {% endif %}
                    </td>
                    <td>{% if problem.acknowledged == '1' %}Yes{% else %}No{% endif %}</td>
                    <td>{{ problem.name }}</td>
                    <td>{{ problem.clock }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No problems found for this host.</p>
        {% endif %}
    </div>
</div>


{% endblock %}

<!--
<div class="row mb-3">
    <div class="col col-md-6">
        {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
        {% plugin_right_page object %}
    </div>
</div>
-->