<div class="card">
    <h5 class="card-header">Zabbix Configuration XXXX</h5>
    <div class="card-body">
        <table class="table table-hover attr-table">
            <tr>
                <th scope="row">Zabbix Host ID</th>
                <td>{{ zbxhost.zbx_host_id }}</td>
            </tr>
            <tr>
                <th scope="row">Status</th>
                <td>{{ zbxhost.get_status_display }}</td>
            </tr>
            <tr>
                <th scope="row">Interface</th>
                <td>{{ zbxhost.get_interface_display }}</td>
            </tr>
            <tr>
                <th scope="row">Templates</th>
                <td>
                    {% for tmpl in zbxhost.templates.all %}
                    <span class="badge bg-info">{{ tmpl.name }}</span>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
</div>